<h2>Holidays for <%= Date.today.year %></h2>
<ul class="unstyled">
  <% @holidays.each do |holiday| %>
    <li><%= "#{holiday.name} - #{l holiday.start_date, :format => :short}" %><%= "-" + l(holiday.end_date, :format => :short) unless holiday.end_date.nil? || holiday.start_date == holiday.end_date %>
  <% end %>
</ul>
