<h2>Users and their supervisors</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Supervisors</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %><br/>
            <%= link_to 'Add Supervisor', edit_admin_supervisor_path(user.id) %>
        </td>
        <td>
          <ul class="unstyled">
            <% user.supervisors.each do |supervisor| %>
              <li><%= supervisor.name %> (<%= link_to 'remove', admin_supervisor_path(user.id, :supervisor_id => supervisor.id), :method => :delete, :confirm => 'Are you sure you want to remove this supervisor?' %>)</li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>
