<ul class="nav nav-list well">
  <li class="nav-header">
    <%= link_to raw('<i class="icon-cog"></i>'), edit_profiles_path, class: 'pull-right' %>
    <%= current_user.name %>
  </li>
  <li class="active">My Schedule</li>
  <li>Leave Request</li>
  <li>I'm going to be late!</li>
  <li class="nav-header">Coworkers</li>
  <li>Office Schedule</li>
  <li>Holidays</li>
  <li class="nav-header">Approvals</li>
  <li>Leave Requests</li>
  <li>Timesheets</li>
</ul>
